<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1><a href="/blog/">{{ site.title }}</a></h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <div class="sidebar-nav">
            <a target="_blank" title="Mastodon" href="https://freiburg.social/@nicholasdille"><i aria-hidden="true" class="fa-brands fa-mastodon"></i></a>
            <a target="_blank" title="BlueSky" href="https://bsky.app/profile/nicholas.dille.name"><i aria-hidden="true" class="fa-brands fa-bluesky"></i></a>
            <a target="_blank" title="GitHub" href="https://github.com/nicholasdille"><i aria-hidden="true" class="fa-brands fa-github"></i></a>
            <a target="_blank" title="GitLab" href="https://gitlab.com/nicholasdille"><i aria-hidden="true" class="fa-brands fa-gitlab"></i></a>
            <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/nicholasdille"><i aria-hidden="true" class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" title="Docker Hub" href="https://hub.docker.com/u/nicholasdille/"><i aria-hidden="true" class="fa-brands fa-docker"></i></a>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/blog/">Home</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/about/' %} active{% endif %}" href="/blog/about/">About</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/archive/' %} active{% endif %}" href="/blog/archive/">Archive</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/impressum/' %} active{% endif %}" href="/blog/impressum/">Impressum</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/privacy/' %} active{% endif %}" href="/blog/privacy/">Privacy / Datenschutz</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/search/' %} active{% endif %}" href="/blog/search/">Search</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/slides/' %} active{% endif %}" href="/blog/slides/">Slide Decks</a>
            <a class="sidebar-nav-item{% if page.url == '/blog/tags/' %} active{% endif %}" href="/blog/tags/">Tags</a>
        </nav>

        <p>&copy; 2001-{{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
