<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1><a href="/blog/">{{ site.title }}</a></h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <div class="sidebar-nav">
            <a target="_blank" title="Twitter" href="https://twitter.com/nicholasdille"><i aria-hidden="true" class="fab fa-twitter"></i></a>
            <a target="_blank" title="GitHub" href="https://github.com/nicholasdille"><i aria-hidden="true" class="fab fa-github"></i></a>
            <a target="_blank" title="keybase" href="https://keybase.io/nicholasdille"><i aria-hidden="true" class="fab fa-keybase"></i></a>
            <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/nicholasdille"><i aria-hidden="true" class="fab fa-linkedin"></i></a>
            <a target="_blank" title="Xing" href="https://www.xing.com/profile/Nicholas_Dille"><i aria-hidden="true" class="fab fa-xing"></i></a>
            <a target="_blank" title="Docker Hub" href="https://hub.docker.com/u/nicholasdille/"><i aria-hidden="true" class="fab fa-docker"></i></a>
            <a target="_blank" title="PowerShell Gallery" href="https://www.powershellgallery.com/profiles/NicholasDille/"><i aria-hidden="true" class="fas fa-terminal"></i></a>
            <a target="_blank" title="SlideShare" href="https://www.slideshare.net/NicholasDille"><i aria-hidden="true" class="fab fa-slideshare"></i></a>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/blog/">Home</a>
            <a class="sidebar-nav-item" href="/blog/about/">About</a>
            <a class="sidebar-nav-item" href="/blog/archive/">Archive</a>
            <a class="sidebar-nav-item" href="/blog/impressum/">Impressum</a>
            <a class="sidebar-nav-item" href="/blog/privacy/">Privacy / Datenschutz</a>
            <a class="sidebar-nav-item" href="/blog/search/">Search</a>
            <a class="sidebar-nav-item" href="/blog/slides/">Slide Decks</a>
            <a class="sidebar-nav-item" href="/blog/tags/">Tags</a>
        </nav>

        <p>&copy; 2001-{{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
