---
layout: default
title: Snippets
---
<div class="snippets">
<h1>Snippets</h1>
{% for snippet in site.snippets %}
<a href="/blog/snippets/#{{ snippet.title | slugify }}">{{ snippet.title }}</a><br />
{% endfor %}
{% for snippet in site.snippets %}
<div class="snippet">
<a name="{{ snippet.title | slugify }}" /><h2 class="snippet-title">{{ snippet.title }}</h2>
<span class="snippet-date">{% for tag in snippet.tags %}<a href="/blog/tags/#{{tag}}">#{{tag}}</a> {% endfor %}</span>
{{ snippet.content }}
{% endfor %}
</div>
</div>
