<!DOCTYPE html>
<html lang="en-us">
    <head>
{% include head.html %}
    </head>
    <body class="theme-base-0d layout-reverse">

{% include sidebar.html %}

        <div class="content container">{{ content }}</div>

        <!-- load before shariff and lightbox -->
        <script src="/media/jquery/3.6.1/jquery.min.js" type="text/javascript"></script>

        <!-- requires jQuery to be loaded -->
        <script src="/media/lightbox/2.11.3/js/lightbox.min.js"></script>
    </body>
</html>
